@import '../styles/_variables.css';

.x-followCard {
    display: flex;
    align-items: center;
    color: var(--color-white-text-x);
    font-size: .8rem;
    justify-content: space-between;
    font-family: 'Chirp', 'Segoe UI', Arial, sans-serif;
}

.x-followCard:hover {
    background: var(--color-dark-hover-x);
    transition: all 0.2s ease;
}

.x-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.x-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    object-fit: cover;
    background: var(--color-dark-x);
}

.x-followCard-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.x-followCard-infoUserName {
    opacity: .6;
}