@import '../styles/_variables.css';

.button {
    cursor: pointer;
    margin-left: 16px;
    border: 1px solid var(--color-gray-border-x);
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    background-color: var(--color-white-button-x);
    color: var(--color-black-text-x);
    transition: .3s ease all;
}

.button:hover {
    opacity: .8;
    border: 1px solid var(--color-gray-border-x);
    transition: .3s ease all;
}

.isFollowing {
    background: transparent;
    color: var(--color-white-text-x);
}

.isFollowing:hover {
    background-color: var(--color-red-button-hover-x);
    color: var(--color-red-text-x);
    border: 1px solid var(--color-red-button-border-x);
    transition: .1s ease all;
}