@import '../styles/_variables.css';

.x-whoToFollow {
    width: 70%;
    padding: 16px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--color-gray-border-x);
    border-radius: 16px;
    background-color: var(--color-dark-x);
}

.x-card-title {
    font-weight: bold;
    color: var(--color-white-text-x);
    margin: 0;
    align-self: flex-start;
    margin-bottom: 10px;
}